.hello-world{
    background: black;
    color: red;
    font-family: sans-serif;
    width:250px;
    height: 80px;
    font-size: 30px;
    border:10px solid magenta;
}
.my-world{
    background: blue;
    color: green;
    font-family: sans-serif;
    width:250px;
    height: 80px;
    font-size: 30px;   
    border: 10px solid cyan;
    padding: 3px;
}
:host{
    border: 10px solid yellow;
    padding: 4px solid red;
}

